* { box-sizing: border-box }

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
    background-color: rgb(77, 20, 20);
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
blockquote {
    background-color: rgba(0,0,0, .5);
    color:whitesmoke;
    padding: 1em
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
.headcolor, .footcolor {
    color: whitesmoke;
}
.bgcolor {
    background: linear-gradient(to top, rgb(177, 151, 151),rgb(134, 134, 238));
    padding: 1em;
}
.bgcolor2 {
    background: linear-gradient(to bottom, rgb(177, 151, 151),rgb(134, 134, 238));
    padding: 1em;
}
/*
.vheight {
    height: 100vh;
} */
.topnav a, .footnav a {
    color: whitesmoke;
    text-decoration: none;
} 
.topnav a:hover, .footnav a:hover {
    text-decoration: underline;
}
.topnav {
    margin-top: 3em;
}
.topnav a{
    margin-right: 2em;
}
.footnav li {
    list-style-type: none;
    line-height: 2;

}
.footnav {
    color: whitesmoke
}
.title {
    padding: 1em 0 0
}
/* grid */
.marginb {
    margin-bottom: 3em;
}
.margint {
    margin-top: 2em;
}
.innermenu {
    display: flex;
    justify-content: center;
}
.innermenu a {
    color: rgb(77, 20, 20);
    background-color: goldenrod;
    padding: .5em 1em;
    margin-top: 1em;
    text-decoration: none;
    border-right: 1px solid whitesmoke;
}
.innermenu a:last-child {
    border: 0;
}
.innermenu a:hover, .innermenu a:active {
    background-color: goldenrod;
    color:  rgb(77, 20, 20);
}
.topbutt {
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 100%;

    padding-bottom: 0.2em;
    border: 2px solid ;
    color: goldenrod;
    font-size: 2em;
    width: 2em;
    text-align: center;
    text-decoration: none;
    background-color: rgb(77, 20, 20);
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em
}
.gap-3 {
    grid-gap: 4em
}
.copy {
    text-align: center;
    color:white;
}
img {
     max-width: 100%;
     height:auto;
     border: left 3em; 
}
.flright {
    float: right;
}
.right1 {
    float: right;
}